.slider {
  position: relative;
  max-width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
}

.slider-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust as needed */
}

.slider-img {
  /* Your existing styles, plus anything needed for centering */
  display: block; /* Removes bottom margin/padding typical of inline elements */
  max-width: 100%; /* Ensures the image does not overflow its container */
  height: auto; /* Maintains aspect ratio */
}


/* Responsive design for larger screens */
@media screen and (min-width: 769px) {
    .slider-img-aurora,
    .slider-img-resellcalc {
      max-height: 500px;
      max-width: auto;
    }
  
    .slider-img-osmosis,
    .slider-img-banana {
      max-height: 500px;
      max-width: 250px;
    }
}

/* Responsive design for mobile screens */
@media screen and (max-width: 768px) {
  .slider-img-aurora,
  .slider-img-resellcalc {
    max-height: 500px; /* Reduced height for mobile */
    width: 100%; /* Full width on mobile */
    height: auto; /* Maintain aspect ratio */
  }

  .slider-img-osmosis,
  .slider-img-banana {
    max-height: 600px; /* Reduced height for mobile */
    width: 100%; /* Full width on mobile */
    height: auto; /* Maintain aspect ratio */
  }
}


/* Navigation buttons */
.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  z-index: 10;
  transition: background 0.3s ease;
}

.slider-nav:hover {
  background: rgba(0, 0, 0, 0.8);
}

.slider-nav-prev {
  left: 10px;
}

.slider-nav-next {
  right: 10px;
}

/* Pagination dots */
.slider-pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ddd;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.slider-dot:hover,
.slider-dot.active {
  background: #333;
}
